environment: connect

services:
  mock:
   api: http://axxaprf6h4dkfdnsh-mock.stoplight-proxy.io/

sentiment:
  analyser:
    api: http://YOURAPIENDPOINTHERE:8080

slack:
 api:
  postMessage: https://hooks.slack.com/services/YOURTOKENHERE
